DATABASE_URL=postgresql+asyncpg://postgres:postgres@db:5432/postgres
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=postgres
POSTGRES_PORT=5432
POSTGRES_HOST=db

SECRET_KEY=y7q8SsuA2NmGFRSG64Mad6J7f4cC9QCvdsbmfBuWC5g

CORS_CREDENTIALS=true
CORS_METHODS=*
CORS_ORIGINS=*
CORS_HEADERS=*